.add-upd-message .was-validated .invalid-feedback {
    display: block;
}

.add-upd-message .invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.add-upd-message .md-form {
    margin: 0;
}

.add-upd-message .row {
    text-align: left;
    justify-content: center;
}