.message-card {    
    text-align: left;    
}

.message-card .btn-col {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
}

.message-card .main-comments-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

/*.message-card .img-col,*/ .message-card .data-col {
    margin-bottom: 25px;
}

.message-card .main-col {
    border-right: 1px gray solid;
}

@media screen and (max-width: 600px) {
    .message-card .main-col {
        border-right: none;
    }
}

.message-card .img-col {
    margin-bottom: 25px;
}