/* .floating-btn-ex {    
    font-style: normal !important;
    font-variant: normal !important;
    text-rendering: auto !important;
    position: relative !important;
    z-index: 1 !important;
    display: inline-block !important;
    padding: 0 !important;
    margin: 10px !important;
    overflow: hidden !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    border-radius: 50% !important; 
    width: 47px !important;
    height: 47px !important;
}

.floating-btn-ex i {
    font-size: 1.25rem !important;
    line-height: 47px !important;
    display: inline-block !important;
    width: inherit !important;
    color: #fff !important;
    text-align: center !important;
} */

.card-t {
    position: relative;
}

.card-t .priority-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

.card-t .intro-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}