.message-card {    
    text-align: left;    
}

.message-card .btn-col {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
}

.message-card .main-comments-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
