/* .test {
    display: flex;    
    justify-content: baseline;
} */

.ico {
    font-size: 1.75rem;
    /* margin-top: 20px; */
    padding: 20px 18px 0 10px;
    /* width: 28px; */
    /* height: 29px; */
}