.issue-card {    
    text-align: left;    
}

.issue-card .text-col { 
    margin-top: 10px;
}

.issue-card .btn-col {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

/* .issue-card .img-data-row {
    height: 100%;
} */

.issue-card .img-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.issue-card .main-comments-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* set background color for all cards */
.card-body {
    background-color: #ffffff;
}

.issue-card .img-col, .issue-card .data-col {
    margin-bottom: 25px;
}