.active-votes .new-voting-row/*, .active-votes .voting-row*/ {
    margin-top: 16px;
    margin-bottom: 16px;
    height: 56px;
}

/* .active-votes .active-votes-header {
    margin-top: 25px;
} */

.active-votes .new-voting-btn-hide {
    visibility: hidden;
}

.active-votes .new-voting-row-hide {
    display: none;
}