.add-voting {
    text-align: left;
}

.add-voting .date-time {
    display: flex;
    justify-content: space-between;
}

.add-voting .md-form {
    margin: 0;
}

.add-voting .col {
    margin-bottom: 20px;
}