.voting-card .data-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.voting-card .date-col {
    display: flex;
    justify-content: space-between; 
    align-items: center;   
}

.voting-card .p-date {
    margin-bottom: 0;
}

.voting-card p {
    text-align: left;
}

.voting-card span {
    font-weight: bold;
}

.voting-card .voting-result, .voting-card .voting-percentage {
    padding: 0 10px;
    /* margin-top: auto;     */
    margin-bottom: 10px;
}

/* .voting-card .data-col {
    padding-right: 0;
} */

.voting-card .vote-col {
    display: flex;
    /* justify-content: space-around; */
    align-items: flex-end;   
}

.voting-card .voting-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.voting-card .main-row {
    align-content: flex-start;
    /* align-items: flex-start; */
}