.voting-card {
    text-align: left;
}

.voting-card .data-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.voting-card .date-col {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.voting-card .p-date {
    margin-bottom: 0;
}

.voting-card span {
    font-weight: bold;
}

.voting-card .vote-select-col .drop-down-select {
    padding-right: 0;
}

.voting-card .vote-select-col {    
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
