.tenant-card .img-col {
    min-width: auto;
    max-width: fit-content;
    margin-bottom: 15px;
}

.tenant-card .data-col {
    display: flex;
    flex-direction: column;
    text-align: left;
}


.tenant-card .btn-col {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}