.message-page .add-message, .message-page .accordion {
    margin-top: 20px;
}

.message-page .unread-messages {
    display: inline;
}

.message-page .unread-messages-count {
    margin: 0 14px 0 10px;
}
