.hide-nav {
    display: none;
}

.header-navbar {
    font-size: 1.1rem;
    font-family: 'Righteous', cursive;
    letter-spacing: 0.05rem;
}

.header-navbar .brand {
    font-size: 1.3rem;
}

.header-navbar .header-navbar-nav {
    padding: 0 16px;
}

.header-navbar .user-menu {
    font-size: 1rem;
    font-family: 'Righteous', cursive;
    letter-spacing: 0.01rem;
}

.header-navbar .dropdown-user:hover {
    background-color: #09c !important;
    color: white;
}

.header-navbar .dropdown-user:focus {
    outline: 0;
}

.header-navbar .show.dropdown-menu {
    left: -10px !important;
} 